<form class="register-form" [formGroup]="registerForm" (ngSubmit)="doRegister(registerForm.value)">
  <div class="register-form__label">
    <label for="lastName">
      <p class="label-text">Фамилия: </p>
      <input id="lastName" class="form-control register-form__input" type="text" formControlName="lastName" required autocomplete="off" />

      <div *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)"
           class="label-error">

        <div *ngIf="registerForm.get('lastName').hasError('required')">
          Заполните поле с фамилией
        </div>

        <div *ngIf="registerForm.get('lastName').hasError('pattern')">
          Поле должно содержать только буквы
        </div>
      </div>
    </label>
  </div>

  <div class="register-form__label">
    <label for="firstName">
      <p class="label-text">Имя: </p>
      <input id="firstName" class="form-control register-form__input" type="text" formControlName="firstName" required autocomplete="off" />

      <div *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)"
           class="label-error">

        <div *ngIf="registerForm.get('firstName').hasError('required')">
          Заполните поле с именем
        </div>

        <div *ngIf="registerForm.get('firstName').hasError('pattern')">
          Поле должно содержать только буквы
        </div>
      </div>
    </label>
  </div>

  <div class="register-form__label">
    <label for="email">
      <p class="label-text">E-mail: </p>
      <input id="email" class="form-control register-form__input" type="email" formControlName="email" required autocomplete="off" />

      <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)"
           class="label-error">

        <div *ngIf="registerForm.get('email').hasError('required')">
          Заполните поле для почтового адреса
        </div>

        <div *ngIf="registerForm.get('email').hasError('email')">
          Поле должно содержать валидный email адрес
        </div>
      </div>
    </label>
  </div>

  <div class="register-form__label">
    <label for="phone">
      <p class="label-text">Телефон: </p>
      <input id="phone" class="form-control register-form__input" type="phone" formControlName="phone" required autocomplete="off" />

      <div *ngIf="registerForm.get('phone').invalid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)"
           class="label-error">

        <div *ngIf="registerForm.get('phone').hasError('required')">
          Заполните поле для номера телефона
        </div>

        <div *ngIf="registerForm.get('phone').hasError('pattern')">
          Поле должно содержать валидный номер телефона
        </div>
      </div>
    </label>
  </div>

  <div class="register-form__label">
    <label for="login">
      <p class="label-text">Логин: </p>
      <input id="login" class="form-control login-form__input" type="text" formControlName="login" required autocomplete="off" />

      <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)"
           class="label-error">

        <div *ngIf="registerForm.get('login').hasError('required')">
          Заполните поле логина
        </div>

        <div *ngIf="registerForm.get('login').hasError('minlength')">
          Логин должен состоять не меньше, чем из 4 символов
        </div>
      </div>
    </label>
  </div>

  <div class="register-form__label">
    <label for="password">
      <p class="label-text">Пароль: </p>
      <input id="password" class="form-control login-form__input" type="password" formControlName="password" required autocomplete="off" />

      <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)"
           class="label-error">

        <div *ngIf="registerForm.get('password').hasError('required')">
          Заполните поле пароля
        </div>

        <div *ngIf="registerForm.get('password').hasError('minlength')">
          Пароль должен состоять не меньше, чем из 8 символов
        </div>
      </div>
    </label>
  </div>

  <div class="register-form__buttons">
    <button type="submit" class="register-form__buttons-button button-submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>
    <button type="button" class="register-form__buttons-button button-cancel" (click)="closeForm()">Отменить</button>
  </div>
</form>
