<div class="wrapper">
  <div class="wrapper__content">
    <div class="wrapper__content-logo">
      <div class="wrapper__content-logo_img">
        <img src="assets/images/shanirak.png" alt="Shanirak">
      </div>
      <div class="wrapper__content-logo_description">
        <p>Altyn News</p>
      </div>
    </div>
    <div class="wrapper__content-auth">
      <div class="wrapper__content-auth_buttons" *ngIf="!user; else userInfo">
        <a class="wrapper__content-auth_buttons" (click)="loginClick()">Войти</a>
        <div class="wrapper__content-auth_buttons--divider"></div>
        <a class="wrapper__content-auth_buttons" (click)="signUpClick()">Зарегистрироваться</a>
      </div>
      <ng-template #userInfo>
        <div class="wrapper__content-auth_initials" (click)="showLogout()">
          <p class="wrapper__content-auth_text">{{ user.lastName }} {{user.firstName.slice(0, 1) + '.'}}</p>
          <div class="wrapper__content-auth_logout" [class.detail]="!isNeedSearch" *ngIf="profileClicked">
            <a class="wrapper__content-auth_logout--button" (click)="logout()">Выход</a>
          </div>
        </div>
      </ng-template>
      <div class="wrapper__content-search" *ngIf="isNeedSearch">
        <label for="news-search" class="wrapper__content-search_field">
          <div class="wrapper__content-search_field--icon">
            <img src="assets/icons/search.svg" alt="search">
          </div>

          <input type="search" id="news-search" (input)="onSearch($event.target.value)" placeholder="Поиск по сайту..."
                 class="wrapper__content-search_field--input" autocomplete="off">
        </label>
      </div>
    </div>
  </div>
</div>
