@import "../../../assets/styles/colors";

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $black;

  .wrapper__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    &-logo {
      display: flex;
      align-items: center;

      &_img {
        width: 40px;
        height: 40px;

        img {
          width: 100%;
        }
      }

      &_description {
        margin-left: 10px;
        color: $white;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
      }
    }

    &-auth {
      &_buttons {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: $white;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          cursor: pointer;
          user-select: none;
        }

        a:hover {
          color: map-get($blue-palette, 100);
          text-decoration: underline;
        }

        &--divider {
          margin: 0 10px;
          height: 18px;
          border-left: 1px solid $white;
        }
      }

      &_initials {
        position: relative;
        right: 20px;
        text-align: right;
        color: $white;
        cursor: pointer;
        user-select: none;
      }

      &_logout {
        position: absolute;
        top: 75px;
        right: 3px;
        padding: 10px 15px;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
      }

      .detail {
        top: 40px;
      }
    }

    &-search {
      margin-top: 15px;

      &_field {
        position: relative;
        cursor: pointer;

        &--icon {
          position: absolute;
          top: 2%;
          left: 5px;
          width: 20px;
          height: 20px;

          img {
            width: 100%;
          }
        }

        &--input {
          width: 100%;
          height: 32px;
          padding-left: 25px;
          font-size: 16px;
          line-height: 19px;

          &:focus {
            color: map_get($gray-palette, 400);
          }
        }
      }
    }
  }
}
