@import "../../../assets/styles/colors";

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  &-dialog {
    position: absolute;
    top: 25%;
    left: 35%;
    padding: 15px;
    background-color: $white;
    border-radius: 8px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_title {
        font-size: 18px;
        color: map_get($gray-palette, 400);
      }

      span {
        font-size: 18px;
        line-height: 24px;
        color: map_get($gray-palette, 400);
      }

      &_close {
        cursor: pointer;
      }
    }
  }
}
