<div class="modal" *ngIf="isOpen">
  <div class="modal-dialog">
    <div class="modal-dialog__header" *ngIf="title">
      <span class="modal-dialog__header_title">{{ title }}</span>
      <span class="modal-dialog__header_close" (click)="onCloseClick()">&times;</span>
    </div>
    <hr *ngIf="title">
    <ng-content></ng-content>
  </div>
</div>
