<app-header (openLogin)="openLoginModal()"
            (openRegister)="openRegisterModal()"
            [isNeedSearch]="false"
>
</app-header>

<div class="page-content"></div>

<app-modal [title]="'Войти'"
           [isOpen]="openLoginForm"
           (closeModal)="closeModals()"
>
  <app-auth (cancelAuth)="closeModals()"></app-auth>
</app-modal>

<app-modal [title]="'Зарегистрироваться'"
           [isOpen]="openRegisterForm"
           (closeModal)="closeModals()"
>
  <app-register (cancelRegister)="closeModals()"></app-register>
</app-modal>

<div class="wrapper">
  <div class="back-button">
    <button class="back-button__btn" (click)="router.navigate(['/'])">< Назад</button>
  </div>
  <app-new class="wrapper__new" [new]="newDetail" [isDetail]="true"></app-new>
</div>

<div class="comments-container" *ngIf="newDetail.comments.length > 0">
  <div class="comments-container__heading">
    Комментарии
  </div>
  <div class="comments-container__content">
    <div *ngFor="let comment of newDetail.comments">
      <app-commentary
        [name]="comment.author"
        [timestamp]="comment.timestamp"
        [text]="comment.text"
        [answers]="comment.answers"
      ></app-commentary>
    </div>
  </div>
</div>

<div class="comments-container add-comments">
  <div class="comments-container__heading">
    Добавить комментарий
  </div>
  <div class="comments-container__form" *ngIf="user?.role === 'user' || user?.role === 'admin'; else text">
    <form #commentForm (submit)="submitComment($event, commentForm)">
      <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Введите текст комментария"></textarea>
      <button class="comments-container__form-button btn-submit" type="submit">Отправить</button>
      <button class="comments-container__form-button btn-cancel" type="button" (click)="cancelSubmit(commentForm)">Отменить</button>
    </form>
  </div>

  <ng-template #text>
    <p>Добавлять комментарии могут только зарегистрированные пользователи</p>
  </ng-template>
</div>
