@import "src/assets/styles/colors";

.page-content {
  width: 100%;
  height: 85px;
}

.wrapper {

  .back-button {
    position: absolute;
    left: 30px;
    top: 90px;

    &__btn {
      padding: 15px;
      background-color: map-get($gray-palette, 200);
      border-radius: 4px;
      font-size: 16px;
      color: map-get($gray-palette, 400);
    }
  }
}

.comments-container {
  width: 50%;
  margin: 0 auto;

  &__heading {
    padding: 12px;
    color: $white;
    background-color: $black;
    font-size: 16px;
    line-height: 19px;
  }

  &__form {
    margin-top: 25px;

    textarea {
      width: 99%;
    }

    &-button {
      padding: 12px;
      border-radius: 4px;
    }

    .btn-submit {
      color: $white;
      background-color: map-get($green-palette, 100);
    }

    .btn-cancel {
      margin-left: 10px;
      color: $black;
      background-color: transparent;
    }
  }
}

.add-comments {
  margin-top: 20px;
}
