<div class="container">
  <p class="container__heading">{{ new.heading }}</p>
  <p class="container__title">{{ new.title }}</p>
  <p class="container__date">{{ isDetail ? new.author : '' }} {{ new.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</p>
  <p class="container__text">{{ newsText }}</p>
  <p class="container__link" *ngIf="!isDetail">
    <a [routerLink]="['one/'+ new.id]">Читать полностью...</a>
  </p>
</div>
