@import "./src/assets/styles/colors";

.container {
  margin: 10px auto;
  padding: 10px;
  max-width: 600px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);

  & > p:not(:first-child) {
    margin-top: 10px;
  }

  &__heading {
    color: map-get($gray-palette, 200);
  }

  &__title {
    color: $black;
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    color: map-get($gray-palette, 200);
  }

  &__text {
    color: map-get($gray-palette, 400);
  }

  &__link {

    a {
      color: map-get($blue-palette, 100);
    }
  }
}
