<form class="login-form" [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)">
  <div class="login-form__label">
    <label for="login" >
      <p class="label-text">Логин: </p>
      <input id="login" class="form-control login-form__input" type="text" formControlName="login" required autocomplete="off" />

      <div *ngIf="loginForm.get('login').invalid && (loginForm.get('login').dirty || loginForm.get('login').touched)"
           class="label-error">

      <span *ngIf="loginForm.get('login').hasError('required')">
        Заполните поле логина
      </span>
      </div>
    </label>
  </div>

  <div class="login-form__label">
    <label for="password">
      <p class="label-text">Пароль: </p>
      <input id="password" class="form-control login-form__input" type="password" formControlName="password" required autocomplete="off" />

      <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
           class="label-error">

      <span *ngIf="loginForm.get('password').hasError('required')">
        Заполните поле пароля
      </span>
      </div>
    </label>
  </div>

  <div *ngIf="isIncorrectUser" class="label-error">
    <span>Неверно введены логин или пароль</span>
  </div>

  <div class="login-form__buttons">
    <button type="submit" class="login-form__buttons-button button-submit" [disabled]="loginForm.invalid">Войти</button>
    <button type="button" class="login-form__buttons-button button-cancel" (click)="closeForm()">Отменить</button>
  </div>
</form>
