@import "./src/assets/styles/colors";

.login-form {
  width: 300px;

  &__label {
    margin-top: 20px;

    p {
      margin-bottom: 5px;
    }
  }

  &__buttons {
    margin-top: 40px;

    &-button {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      padding: 10px 16px;
      color: $white;
      border-radius: 4px;

      &:first-child {
        background-color: map-get($green-palette, 200);

        &:disabled {
          opacity: 0.65;
          background-color: map-get($green-palette, 100);
        }
      }

      &:last-child {
        margin-top: 20px;
        color: $black;
        background-color: $white;
      }
    }
  }
}
