<app-header (openLogin)="openLoginModal()"
            (openRegister)="openRegisterModal()"
            [isNeedSearch]="true"
>
</app-header>

<div class="page-content"></div>

<app-modal [title]="'Войти'"
           [isOpen]="openLoginForm"
           (closeModal)="closeModals()"
>
  <app-auth (cancelAuth)="closeModals()"></app-auth>
</app-modal>

<app-modal [title]="'Зарегистрироваться'"
           [isOpen]="openRegisterForm"
           (closeModal)="closeModals()"
>
  <app-register (cancelRegister)="closeModals()"></app-register>
</app-modal>

<app-news-list></app-news-list>
