@import "src/assets/styles/colors";

.news-container {
  margin-top: 20px;
}

.pagination {
  margin: 20px 40%;

  &__button {
    padding: 8px;
    margin-right: 5px;
    font-size: 13px;
    color: map-get($gray-palette, 400);
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);

    &:disabled {
      color: map-get($gray-palette, 200);
    }
  }

  .active {
    border: 0.5px solid map-get($blue-palette, 100);
    color: map-get($blue-palette, 100);
  }
}

.no-news {
  text-align: center;
}
