<app-modal [isOpen]="loading">
  <p>Подождите, идёт загрузка...</p>
</app-modal>

<div *ngIf="news.length > 0; else noNews">
  <div class="news-container" *ngFor="let tiding of news">
    <app-new [new]="tiding"></app-new>
  </div>
</div>

<ng-template #noNews>
  <h3 *ngIf="!loading" class="no-news">Нет новостей</h3>
</ng-template>

<div class="pagination" *ngIf="(newsService.totalPages > 1 || this.news.length > 10) && !loading">
  <button class="pagination__button" (click)="goFirstPage()" [disabled]="pageNumber === 1">{{'<<'}}</button>
  <button class="pagination__button" (click)="goPreviousPage()" [disabled]="pageNumber === 1">{{'<'}}</button>
  <button class="pagination__button"
          [class.active]="pageNumber === button"
          *ngFor="let button of pageButtons"
          (click)="getNews(button)"
  >{{button}}</button>
  <button class="pagination__button" (click)="goNextPage()" [disabled]="pageNumber === newsService.totalPages">{{'>'}}</button>
  <button class="pagination__button" (click)="goLastPage()" [disabled]="pageNumber === newsService.totalPages">{{'>>'}}</button>
</div>
