@import "./colors";

html, body, p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul, li {
  list-style: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.form-control {
  width: 100%;
  padding: 12px 5px;
  border: 1px solid map-get($gray-palette, 200);
  color: map-get($gray-palette, 400);
  border-radius: 4px;
  box-sizing: border-box;
}

.label-error {
  font-size: 13px;
  color: map-get($red-palette, 100);
}
