<div class="wrapper">
  <div class="author-info">
    <div class="author-info__name">
      {{ name }}
    </div>
    <div class="author-info__date">
      {{ timestamp | date: "dd.MM.yyyy HH:mm:ss" }}
    </div>
  </div>
  <div class="text">
    <p *ngIf="!textEdit; else commentForm">{{ text }}</p>
    <div class="text-answers" *ngFor="let answer of answers">
      <div class="author-info">
        <div class="author-info__name">
          {{ answer.name }}
        </div>
        <div class="author-info__date">
          {{ answer.timestamp | date: "dd.MM.yyyy HH:mm:ss" }}
        </div>
      </div>
      <div class="text">
        <p>{{ text }}</p>
        <div class="text-answers" *ngFor="let answer of answers">
          <div class="author-info">
            <div class="author-info__name">
              {{ answer.name }}
            </div>
            <div class="author-info__date">
              {{ answer.timestamp | date: "dd.MM.yyyy HH:mm:ss" }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions" *ngIf="user.role">
      <button class="actions__answer" *ngIf="user.role === 'admin'" (click)="deleteComment(text, timestamp)">Удалить</button>
      <button class="actions__answer" *ngIf="user.role === 'user' || user.role === 'admin'" (click)="editComment()">Редактировать</button>
    </div>
  </div>
</div>

<ng-template #commentForm>
  <div class="comments-container add-comments">
    <div class="comments-container__form" *ngIf="this.textEdit">
      <form #commentForm (submit)="submitAnswer($event, commentForm, text, timestamp)">
        <textarea name="comment" id="comment" cols="30" rows="2" placeholder="Введите текст комментария"></textarea>
        <button class="comments-container__form-button btn-submit" type="submit">Отправить</button>
        <button class="comments-container__form-button btn-cancel" type="button" (click)="cancelAction(commentForm)">Отменить</button>
      </form>
    </div>
  </div>
</ng-template>
