@import "src/assets/styles/colors";

.wrapper {
  padding: 8px;

  .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    color: $white;
    padding: 4px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;

    &__answer {
      color: map-get($blue-palette, 100);
      background-color: $white;
    }
  }
}

.comments-container {
  width: 99%;

  &__heading {
    padding: 12px;
    color: $white;
    background-color: $black;
    font-size: 16px;
    line-height: 19px;
  }

  &__form {
    margin-top: 25px;

    textarea {
      width: 99%;
    }

    &-button {
      padding: 12px;
      border-radius: 4px;
    }

    .btn-submit {
      color: $white;
      background-color: map-get($green-palette, 100);
    }

    .btn-cancel {
      margin-left: 10px;
      color: $black;
      background-color: transparent;
    }
  }
}

.add-comments {
  margin-top: 20px;
}
